Menu{
	display: -webkit-flex;
    max-width: 800px;
}
#carouselExampleControls{
    display: flex;
    width: 100%;
    height: 400px;
}

.interacaoLinks{
    display: flx;
    widows: 100%;
    height: 600px;
}
.transparentView{
    flex: 1;
    background-color: transparent;
    justify-content: center;
    position: 'absolute';
}
.corpo{
    margin-top: 4px;
}
.topoMateria {
    margin-top: 15px;
}


