Menu{
	display: -webkit-flex;
    max-width: 800px;
}
#carouselExampleControls{
    display: flex;
    width: 100%;
    height: 400px;
}

.interacaoLinks{
    display: flx;
    widows: 100%;
    height: 600px;
}


