@media(min-width:800px){
    .containerMosaicoNoticias {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        margin-top: 15px;
        width: 95%;
        height: 100%;
        background-color: #FFFF;
        border: solid 1px #000000;
        margin-bottom: 1.5%;
        text-decoration: none;
    }
}
.mosaicoUm, 
.mosaicoDois,
.mosaicoTres,
.mosaicoQuatro{
    flex: 3;
    flex-flow: row;
    width: 20%;
    height: 300px;
}
.mosaicoUm,
.mosaicoDois,
.mosaicoTres,
.mosaicoQuatro {
    margin: 5px 5px 5px 5px;
    background-color: #6fcce9;
    border: solid 1px #ffffff;
    text-decoration: none;
}
.mosaicoDois{

}
.mosaicoTres {
}
