.contenerPrimeiraNoticia{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: transparent;
    text-decoration: none;
    font-size: 60%;
    margin-top: -2.5%;
}
.titulo{
    display: flex;
    font-size: 98%;
    text-transform: uppercase;
    margin-left: 10%;
    font-style: italic;
}

.pData, .pPalestrante, .pTema{
    display: flex;
    width: 80%;
    height: 16px;
    align-content: center;
    margin-top: -0.1%;
    margin-left: auto;
    margin-right: auto;
}
.pData{
    border-top: solid 1px rgb(121, 116, 116);
    border-bottom: solid 1px rgb(121, 116, 116);
    background-color: rgb(136, 172, 238, 0.2);
    padding-left: 3%;
}
.pPalestrante{
    padding-left: 3%;
}
.pTema{
    border-top: solid 1px rgb(121, 116, 116);
    border-bottom: solid 1px rgb(121, 116, 116);
    background-color: rgb(136, 172, 238, 0.2);
    padding-left: 3%;
}

.pPalestrante p{
    font-weight: bold;
    
}

.pTema p{
    font-weight: bold;
}