*{
    font-family: Verdana;
}
a{
    text-decoration: none;
}
.appContener{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:#faf6f6;
}
.cabecalho{
    flex: 1;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    z-index: 10;
}
.corpo{
    flex: 1;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: cornflowerblue;
}
.rodape{
    flex: 1;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(245, 247, 202);
}