/*.body-content {
    display: block;
    position: relative;
}*/
/* Hide/rearrange for smaller screens */
/*#custom_carousel .item {
    color:#000;
    background-color: transparent;
    
}

#custom_carousel .controls{
    overflow-x: auto;
    overflow-y: hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background: transparent;
}
#custom_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width:90px
}
#custom_carousel .controls li.active {
    background-color: transparent;
    border-top:3px solid orange;
}
#custom_carousel .controls a small {
    overflow:hidden;
    display:block;
    font-size:10px;
    margin-top:-5px;
    font-weight:bold
}
.navbar{
    background-color: rgba(85, 153, 2, 0.5);
}
.navbar-inverse {
    background: rgba(85, 153, 2, 0.5);
}
.navbar-fixed-top {
    display: block;
    background-color: yellow;
    border-width: 0px 0 2px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;

}*/



