/*.container{
	display: block;
	position: relative;
	margin-top: 80px;
	height: 28px;
}

/*Inicio Configurando o Menu*/
/*#navMenu{
	display: -webkit-box;
	display: block;
	position: absolute;
	background-color: teal;
	-webkit-box-orient: horizontal;
	height: 145px;
	margin-top: -95px;
}
/**Estilizar o Menu e sub-menus*/
/*.menuContainer{
	display: block;
	position: absolute;
	margin-top: -7px;
	z-index: 1030;
	margin-left: 22%;
}
.nav > li > a {
	position: relative;
	text-decoration: none;
    display: block;
    padding: 0px 0px;
}
.container-fluid{
	display: block;
	position: relative;
}
.menuContainer, .menu {
	flex-direction: row;
	display: flex;
	position: relative;
	width: 160px;
}
/*
.menu,
.sub-menu {
	list-style: none;
	list-style-type: none;
	background: #FFFFFF;
}
.menu a {
	cursor: pointer;
    text-decoration: none;
    display: block;
	padding: 3px 2px;
	border: solid 1px #ccc000;
	width: 161px;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
.menu li {
	position: relative;
	margin-left: -40px;
}
.menu > li {
	float: left;
}
.menu > li:hover {
    background: #ccc000;
}
.menu li:hover > .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    min-width: 144.5px;
}
.sub-menu li:hover {
    background: #ccc000;
}
.sub-menu .sub-menu {
    top: 0px;
	left: 100%;
}*/






