.contener_tabelaPalestra{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.contenerFrmAddPalestra{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.camposInput{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.cabecaTab{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 100px;
    padding: 4px 0px;
}
.botoes{
    display: flex;
    margin-bottom: 15px;
    justify-content: flex-end;
}

.containerTabela{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: auto;
    margin-right: auto;

}
.logoTab{
    width: 5%;
    margin-left: 2%;
    color: #4F4F4F;
}
.nomeCasa{
    margin-left: 1%;
    margin-top: 1.2%;
    font-size: 8pt;
    color: #4F4F4F;
}
.nomeCasa span{
    display: flex;
    font-weight: 600;
    
}
.txtPl{
    display: flex;
    font-size: 22px;
    font-weight: 600;
    align-items: center;
    margin-top: 9%;
    color: #4F4F4F;
}
.titulosColunas{
    color: #2F4F4F;
}
<<<<<<< HEAD
.linkCadastrar a{
    flex: 1;
    float: right;
    margin-right: 2%;
    color: black;
=======
.voltar i{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 96%;
    margin-top: 0.5%;
>>>>>>> d935d7b64c23b42a4439e1dae9ecaf693f6ffab0
    text-decoration: none;
}